<h1 class="Contact">Contact Us</h1>
<fa-icon  style="font-size: 50px;"  class="icon1" [icon]="icon"></fa-icon>
<h1 class="icon2">ADDRESS</h1>
<P class="icon3">27 13 Lower Heaven</P>
<fa-icon  style="font-size: 50px;" class="icon4" [icon]="faphone"></fa-icon>
<h1 class="icon5">PHONE</h1>
<P class="icon6">111 343 43 43</P>
<fa-icon style="font-size: 50px;" class="icon7" [icon]="faemail"></fa-icon>
<h1 class="icon8">EMAIL</h1>
<P class="icon9">business@info.com</P><br>
<h1 class="drop">Drop us a Query</h1>
<input type="text" placeholder="Name">
<input type="text" placeholder="Email"><br>
<input type="text" placeholder="Subject"><br>
<input type="text" placeholder="Message" class="msg"><br>
<button>Send Message</button>

