.container{
    width: 500px;
    height: 200px;
    border: 2px solid white;
    background-color: blue;
    position: relative;
    left: 550px;
}

input{
    position: relative;
    top: 50px;
    left: 70px;
    margin-left : 10px;
}
h1{
    position: relative;
    left: 600px;
}
p{
    position: relative;
    left: 570px;
}
